# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
nul

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Large files
*.pdf

# Personal
dom_history.json
*.ico
